{% extends 'base.html' %}

{% block content %}
    {#    <form action="{% url 'thanks' %}" method="post">#}
    {#        {% csrf_token %}#}
    {#        {{ form }}#}
    {#        <button type="submit">Отправить</button>#}
    {#    </form>#}
    <!-- карусель -->
    {% include 'include/carousel.html' %}
    <!-- Карточки -->
    {% include 'include/cards.html' %}
    <!-- Таблица -->
    {% include 'include/table.html' %}
    <!-- форма -->
    {% include 'include/form.html' %}
{% endblock %}
