{% load humanize %}

<section>
    <div class="container">
        <h1 class="text-3">Цены на услуги</h1>
        <table class="table table_one">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Услуга</th>
                <th scope="col">Старая цена</th>
                <th scope="col">Новая цена</th>
            </tr>
            </thead>
            <tbody>
            {% for service in services %}
                <tr>
                    <td>{{ service.title }}</td>
                    <td>
                        <del>{{ service.old_price|intcomma }}</del>
                    </td>
                    <td>{{ service.new_price|intcomma }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>
